{{! This is the navigation menu, add your static pages and links here. }}

<nav class="navigation nav-collapse">
    <ul>
        <li>
            <a href="#">about us</a>
        </li>
        <li>
            <a href="#">work</a>
        </li>
        <li>
            <a href="#">jobs</a>
        </li>
        <li>
            <a href="#">our team</a>
        </li>
        <li>
            <a href="#">contact</a>
        </li>
    </ul>
</nav>